body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #ECECEC;
  min-height: 100dvh;
}

header {
  background-color: lightgray;
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.search-container {
  background-color: #A9A9A9;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-container > input {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #DDDDDD;
  margin-left: 10px;
}
.search-container > input::placeholder {
  color: #DDDDDD;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 100%;
}
aside {
  background: #ffffff;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
aside > button.ui-button {
  background: #C4C4C4;
  color: #000000;
  width: 100%;
  font-size: 18px;
}

.message {
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 18px;
  display: none;
}
#loading-message {
  border: 1px solid black;
  display: none;
}
#error-message {
  border: 1px solid red;
  color: red;
}

#todo-container-main {
  padding: 10px;
}
#todo-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
#todo-sorting {
  cursor: pointer;
}
#todo-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo-block {
  background: #D2D2D2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.todo-text {
  font-size: 18px;
}
.todo-datetime {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modal-todo-name {
  font-size: 24px;
}
#modal-todo-datetime {
  font-size: 12px;
}
#modal-body {
  max-height: 400px;
  overflow-y: scroll;
}

.ui-datepicker td.range {
  background-color: #d0e9c6;
}
.ui-datepicker td.range a {
  background-color: #d0e9c6;
  color: #555;
}
.ui-datepicker td.selected-start, .ui-datepicker td.selected-end {
  background-color: #f00;
  color: white;
}
